<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script src="/assets/todo-list.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="todo-table">
        <form>
            <input type="text" name="todo" placeholder="" required>
            <button type="submit">Add Item</button>
        </form>

        <ul>
            <!-- <% for(let i=0; i < todos.length; i++){ %>
                <li><%= todos[i].todo %></li>

            <% } %> -->
            <% for(let i=0; i < todos.length; i++){ %>
                <li value ="<%= todos[i].id %>"><%= todos[i].todo_item %></li>

            <% } %>
        </ul>
    </div>
</body>
</html>